<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
    <string>ca-app-pub-3940256099942544/2934735716</string>
    <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
    <string>ca-app-pub-3940256099942544/4411468910</string>
    <key>CLIENT_ID</key>
    <string>579935652666-d4t7hooo9jnldcktaf8oq0i79ebgrb3k.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.579935652666-d4t7hooo9jnldcktaf8oq0i79ebgrb3k</string>
    <key>API_KEY</key>
    <string>AIzaSyBWR5luZC1U2TrUSpLImt_NNhjbbiKCkmg</string>
    <key>GCM_SENDER_ID</key>
    <string>579935652666</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.CBP.AppMobile</string>
    <key>PROJECT_ID</key>
    <string>application-mobile-c214f</string>
    <key>STORAGE_BUCKET</key>
    <string>application-mobile-c214f.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <true></true>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <false></false>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:579935652666:ios:38f631c26607d577</string>
    <key>DATABASE_URL</key>
    <string>https://application-mobile-c214f.firebaseio.com</string>
</dict>
</plist>